body {  }

.clear { clear: both; }

.intro {
	margin-left: 100px;
	max-width: 700px;
}

.example {
	margin: 100px;
	max-width: 700px;
}
.outer-box {
	border: 1px solid black;
	float: left;
	height: 190px;
	margin-right: 100px;
	overflow: auto;
	position: relative;
	width: 240px;
}
.inner-box {
	background-color: #cfc;
	padding: 20px;
	width: 200px;
}
.up { position: absolute; top: 0px; background-color: red; display: none;}
.down { position: absolute; bottom: 0px; background-color: red; display: none;}
